:root {
  /* colors */
  --background: white;
  --link: rgb(0, 0, 238);
  --text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* colors */
    --background: black;
    --link: rgb(104, 139, 251);
    --text: white;
  }
}

body {
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--text);
  font-family: monospace, system-ui, sans-serif;
  font-size: 18px;
  line-height: 1.45;
  margin: auto;
  max-width: 100%;
  padding: 16px;
  width: 70ch;
}

h1, h2, h3, h4 {
  font-style: italic;
}

a {
  color: var(--link);
}

a[target="_blank"]::after, a.external::after, a[href*="http"]::after {
  content: ' [\2197]';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
  background-color: var(--background);
  font-size: 0.75em;
  color: var(--text);
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
}