<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ site.github.baseurl }}/style.css" />
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% if page.homelink %}
      <nav>
        <a href="{{ site.github.baseurl }}">Home</a>
        {% if page.story_base_url %}
          &middot; <a href="{{ site.github.baseurl }}/{{ page.story_base_url }}">Restart story</a>
        {% endif %}
      </nav>
    {% endif %}
    {{ content }}
    {% if page.footer %}
      <footer>
        {{ page.footer }}
      </footer>
    {% endif %}
  </body>
</html>